<div class="container">

<h1><%= @post.title %> - $<%= @post.price %></h1>

<p><%= @post.body %></p>

<% if @key %>
  <p>Visit this address to edit your post:<br>http://localhost:9393/posts/<%= @post.id %>/edit?key=<%= @post.key %></p>
<% end %>

<a href="/">Home</a> | <a href="/categories/<%= @post.category_id %>"><%= @post.category.name %></a>

</div>
