<div class="container">

  <h1><%= @posts[0].category.name %></h1>

  <% @posts.each do |post| %>
    * <a href="/posts/<%= post.id %>"><%= post.title %></a> - $<%= post.price %><br>
  <% end %>

  <p><a href="/">Home</a> | <a href="/categories/<%= @posts[0].category.id %>/posts/new">New <%= @posts[0].category.name %> Post</a>

</div>
