<div class="container">

  <h1><%= @station["stationName"] %></h1>

  There are <%= @station["availableBikes"] %> bikes available at <%= @station["stationName"] %>.<br>

  <% if !@destination %>

  <h2>Where do you want to ride to?</h2>

  <form method="post" action="/stations/<%= @station["id"] %>">
    <select name="destination">
        <option>Pick a station</option>
      <% @stations.each do |station| %>
        <option name="<%= station["id"] %>"><%= station["stationName"] %></option>
      <% end %>
    </select>
    <br><br>
    <input type="submit">
  </form>

  <% end %>

  <% if @destination %>

  <h2>You're headed to <%= @destination["stationName"] %>.</h2>

    There are <%= @destination["availableDocks"] %> docks available at <%= @destination["stationName"] %>.<br><br>

    Here's the route you should take:<br><br>

    <iframe id="map" width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBjnlfGxY5jl3iFiFJInV1tJ5BTVRVa920
      &origin=<%= @station["latitude"] %>,<%= @station["longitude"] %>
      &destination=<%= @destination["latitude"] %>,<%= @destination["longitude"] %>&mode=bicycling"></iframe>

  <% end %>

<br><br>

<a href="/stations">home</a>

</div>
